<a href="https://colab.research.google.com/github/DtaMax/data_science_learning/blob/main/Hello.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#this is my first time coding in python

print ("Hello, DPhi! Today I have executed my very first Python program. Thanks!")

Hello, DPhi! Today I have executed my very first Python program. Thanks!

In [5]:
#Logical operator example

X = 6
X < 5 and X < 10

False

In [7]:
x = input("What's your age")

What's your age18

In [9]:
x = input("")

24

In [11]:
x = 36 / 4 * (3 + 2) * 4 + 2
print(x)

182.0

In [12]:
2 * 2 ** 3

16

In [15]:
a = 5
b = 16

print(a + b)

21

In [25]:
# using operator and input(me)
n = int(input())

print(n**3)

3
27

In [28]:
#operator and input (copilot help)
print(int(input())**3)

3
27

In [1]:
a = "Hello, world!"

print(a[1])

e

In [ ]:
s = ‘Python is easy to learn’
print(s[])